/*------------------------------------*\
    FORM
\*------------------------------------*/

form {
    background-color:#ffffff;
    width:220px;
    height:300px;
    padding:91px 20px 20px 20px;
}

/*------------------------------------*\
    FONT
\*------------------------------------*/
.label label,
.field .block,
.field .list,
.choose .list,
.button span,
.info p { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
}

/*------------------------------------*\
    CONTAINER OFFSET
\*------------------------------------*/

/* [ label|input group offset ] */
[data-editable="custom"] {
    padding:4px 4px;
}

/*------------------------------------*\
    LABEL
\*------------------------------------*/

.label label { 
    font-size:12px;
    font-weight:bold;
    color:#373737;
    line-height:1.9;
}

/*------------------------------------*\
    BORDER - input, select list, select placeholder
\*------------------------------------*/

/* Only border|border-radius */ 
.field .border {
    border:1px solid #a3a3a3;
    border-radius:2px;
}

/*------------------------------------*\
    INPUT/PLACEHOLDER
\*------------------------------------*/

/* [ Input|select placeholder ] */
.field .block {
    font-size:14px;
    font-weight:normal;
    color:#262626;
    background-color:#fff;
}

/* [ Input|select|textarea padding ] */
.field .padding {
    padding-left:9px;
    padding-right:9px;
    padding-top:6px;
    padding-bottom:6px;
}

.label-position-left .label,
.label-position-right .label {
    padding-top: 6px; /* Only padding-top */
}

/* [ Nativ placeholder ] */
.field .placeholder.like-placeholder {
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:14px;
    font-weight:normal;
    color:#555;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:14px;
    font-weight:normal;
    color:#555;
}

input:-moz-placeholder, 
textarea:-moz-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:14px;
    font-weight:normal;
    color:#555;
}

input::-moz-placeholder, 
textarea::-moz-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:14px;
    font-weight:normal;
    color:#555;
}

input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size:14px;
    font-weight:normal;
    color:#555;
}

/*------------------------------------*\
    DROPDOWN SELECT LIST
\*------------------------------------*/

/* [ List block - that same padding like .field .padding ] */
.list-item label {
    padding-left:9px;
    padding-right:9px;
}

/* [ Drop List::select|phone ] */
.field .list {
    font-size:14px;
    font-weight:normal;
    line-height:1.4;
    color:#262626;
    background-color:#fff;
}

/* [ Drop list text background::select|phone ] */
.field .list .list-item .item-label {}

/* [ Hover text background|color - :hover and .hover add two times -> editor required] */
.field .list .list-item:hover .item-label {
    color:#00afec;
}

.field .list .list-item .item-label.hover {
    color:#00afec;
}
 
/* [ Selected text background|color ] */
.field .list-item .item-label.selected,
.field .list-item input:checked + .item-label {
    color:#00afec;
}

/*------------------------------------*\
    RADIO/CHECKBOX
\*------------------------------------*/

/* [ Radio|Checkbox text style ] */
.choose .list {
    font-size:14px;
    font-weight:normal;
    color:#262626;
    line-height:1.4;
}

/* [ Item background - background on text in <li> ] */
.choose .list .list-item .item-label {}

/* :hover and .hover add two times -> editor required */
.choose .list .list-item:hover .item-label {
    color:#00afec;
}

.choose .list .list-item .item-label.hover {
    color:#00afec;
}

/* [ Selected ] */
.choose .list-item .item-label.selected,
.choose .list-item input:checked + .item-label {
    color:#00afec;
}

/*------------------------------------*\
    BUTTON
\*------------------------------------*/

.button {    
    height:31px;
    border-radius:16px;
    background-color:#46b234;
}

.button span {
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif; 
    font-size: 12px;
    font-weight:bold;
    color:#fff;
}

/* :hover and .hover add two times -> editor required */
.button:hover {
    background-color: #52ce3d;
}

.button.hover {
    background-color: #52ce3d;
}

/*------------------------------------*\
    FIELD ICO
\*------------------------------------*/

.field-icon .field-icon-sign::after {
    padding-right:9px; /* that same padding like .field .padding */
}

.field-icon.select.open .field-icon-sign::after {
    padding-left:9px; /* that same padding like .field .padding */
    padding-right:0; /* clear right because transform rotate */
}

/*------------------------------------*\
    INFORMATION TEXT
\*------------------------------------*/
 
.info p {
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size:10px;
    font-weight:normal;
    font-style:italic;
    color:#737373;
    line-height:2;
}