._fx8{font-size:45px}
.sp_TLPwBiOuPCQ{background-image:url(/rsrc.php/v3/yY/r/B8wE8DP-N5C.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_TLPwBiOuPCQ.sx_5e16d1{width:12px;height:12px;background-position:0 -34px}.sp_TLPwBiOuPCQ.sx_5b34ec{background-position:0 0}.sp_TLPwBiOuPCQ.sx_bca752{background-position:0 -17px}

#bootloader_WzJVn{height:42px;}.bootloader_WzJVn{display:block!important;}